:root {
  --primary-font-light: #000000;
  --primary-font-dark: #ffffff;
  --secondary-font-light: rgb(124, 124, 124);
  --secondary-font-dark: rgb(255, 255, 255);
  --background-color-light: rgba(255, 255, 255, 0.8);
  --background-color-dark: rgba(0, 0, 0, 0.25);
  --third-font: #1768b9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.background-day {
  background-image: url("../assets/backgroundDay.png");
}

.background-afternoon {
  background-image: url("../assets/backgroundAfternoon.png");
}

.background-evening {
  background-image: url("../assets/backgroundEvening.png");
}

main {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 50px;
  text-align: center;
}

.light {
  color: var(--primary-font-light);
}

.dark {
  color: var(--primary-font-dark);
}

div {
  display: flex;
  width: 84%;
  justify-content: center;
  gap: 10px;
}

input {
  height: 40px;
  width: 80%;
  border-radius: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--primary-font);
  padding-left: 20px;
  margin-bottom: 100px;
}

input::placeholder {
  color: var(--secondary-font-light);
}

input:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

input:hover::placeholder {
  color: var(--secondary-font-dark);
}

input:focus,
input:active {
  outline: none;
}

button {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
  width: 40px;
  height: 40px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
}

.icon {
  background-image: url("../assets/gps_black.svg");
}

.icon:hover {
  background-image: url("../assets/gps.svg");
  background-size: 16px;
  padding-left: 3px;
  width: 40px;
  height: 40px;
}

/* 2nd view */
.city {
  font-size: 2rem;
}

.date {
  font-size: 0.8rem;
  color: var(--secondary-font-light);
  margin-top: -20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(70, 73, 116, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: none;
  width: 80%;
  max-width: 520px;
  gap: 16px;
  padding-top: 20px;
}

.icon_weather {
  width: 70%;
}

.card__temp {
  font-weight: 900;
  font-size: 1.1rem;
}

.card__description {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.card__description--text {
  text-align: center;
}

.container-description {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(70, 73, 116, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: none;
  display: flex;
  width: 80%;
  max-width: 520px;
}

.container-description__child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0 10px;
}

.left {
  place-items: center start;
}

.right {
  place-items: center end;
}

.description {
  font-size: 0.85rem;
  color: var(--primary-font-dark);
  text-align: center;
}
